<style>
/*	
	Dappleth UI could use ionic 1.x css 
	components 
		https://ionicframework.com/docs/v1/components/ 
	icons
		http://ionicons.com/
	Use <style> to add your custom additional css
*/
</style>
<dappleth-header styleclass="bar bar-header bar-royal">
<!-- 	Header Page
		An empty header will include a default header.
		
		Attributes: 
		- styleclass
			Use styleclass to set a custom class to header
			i.e.: <dappleth-header styleclass="bar bar-header bar-positive">
				to set a blue (positive) bar
			(see https://ionicframework.com/docs/v1/components/ for more...)

		Footer tags can be removed, mind to add some button to close Dappleth
			i.e.:   <button class="button button-clear" on-touch="close()">
						<i class="icon ion-ios-arrow-back dark"></i>
					</button>
-->
</dappleth-header>
<dappleth-content>
<!-- 	Content Page
		Write your Page using all the components of Ionic 1.x
		visit https://ionicframework.com/docs/v1/components/ for more
		i.e.: 	<div class="list">
				  <a class="item item-icon-left" ng-click="getMails()">
				    <i class="icon ion-email"></i>
				    Check mail
				  </a>
				</div>
	
		You can otherwise write your own html and css in this content page
-->

	<div class="list">

	    <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Title">
		    </label>
		 </div>

		<div class="item item-input">
			<textarea rows="5" placeholder="Initial statement"></textarea>
		</div>

		<label class="item item-input item-floating-label">
		    <span class="input-label">Payment amount</span>
		    <input type="number" ng-model="amount" placeholder="Payment amount">
		</label>

		<label class="item item-input item-floating-label">
		    <span class="input-label">Service deposit</span>
		    <input type="number" ng-model="deposit" placeholder="Service deposit">
		</label>

		<label class="item item-input item-floating-label">
		    <span class="input-label">Autorelease timer</span>
		    <input type="number" ng-model="timer" placeholder="Autorelease timer">
		</label>

	  <button class="button button-block button-outline button-royal item-icon-right" ng-click="create()">
	    <i class="icon ion-play"></i>
	    Create BOP
	  </button>

	</div>

</dappleth-content>
<dappleth-footer styleclass="bar bar-footer bar-royal">
<!-- 	Footer Page
		An empty footer will include a default header.
		
		Attributes: 
		- styleclass
			Use styleclass to set a custom class to header
			i.e.: <dappleth-header styleclass="bar bar-header bar-positive">
				to set a blue (positive) bar
			(see https://ionicframework.com/docs/v1/components/ for more...)

		Footer tags can be removed.
-->
</dappleth-footer>