<style>
/*	
	Dappleth UI could use ionic 1.x css 
	components 
		https://ionicframework.com/docs/v1/components/ 
	icons
		http://ionicons.com/
	Use <style> to add your custom additional css
*/
</style>
<dappleth-header styleclass="bar bar-header bar-royal">
	<button class="button button-clear" on-touch="createModal()">
	  <i class="icon ion-ios-plus-empty"></i>
	</button>
</dappleth-header>
<dappleth-content>
 	<div class="item-input-inset">
	 	<label class="item-input-wrapper">
	      <i class="icon ion-ios-search placeholder-icon"></i>
	      <input type="search" placeholder="Search" ng-model="search.title" style="width: -webkit-fill-available;">     
	      <button class="icon button-icon ion-ios-close-empty placeholder-icon dark" ng-if="search.title.length > 0" on-touch="search.title=''"></button>
	    </label>
		<button class="button button-clear button-icon ion-ios-more-outline dark"  ng-click="chooseSort()">
		</button>    	    
	</div>
	<ion-list class="list">
		<ion-item class="item item-avatar" ng-repeat="BOP in getList() | orderBy: orderType | filter:search track by $index">
			<img ng-src="{{BOP.iconPayer}}"/>
			<h2><b>{{BOP.title | strLimit: 25 : 0}}</b></h2>
	      	<p>Ξ {{BOP.balance}}</p>

	      	<span ng-switch="BOP.state">
	      		<i class="badge badge-balanced" ng-switch-when="0">Open</i>
	      		<i class="badge badge-calm" ng-switch-when="1">Comm.</i>
	      		<i class="badge badge-stable" ng-switch-when="2">Closed</i>
            </span>
	      	<span class="item-note" ng-show="BOP.worker!='0x0000000000000000000000000000000000000000'">
	      		<img ng-src="{{BOP.iconWorker}}"/>	      	
	      	</span> 
			<ion-option-button class="button-calm" ng-click="openBOPInfo(BOP)">
              <i class="icon ion-information"></i>
            </ion-option-button>
			<ion-option-button class="button-balanced" ng-click="callCommit(BOP.address)">
              <i class="icon ion-ios-checkmark-outline"></i>
            </ion-option-button>
		</ion-item>
	</ion-list>

</dappleth-content>
<dappleth-footer styleclass="bar bar-footer bar-royal">
<!-- 	Footer Page
		An empty footer will include a default header.
		
		Attributes: 
		- styleclass
			Use styleclass to set a custom class to header
			i.e.: <dappleth-header styleclass="bar bar-header bar-positive">
				to set a blue (positive) bar
			(see https://ionicframework.com/docs/v1/components/ for more...)

		Footer tags can be removed.
-->
</dappleth-footer>