<style>
/* custom additional css */
body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

$black: #3f4041;

.black {
  background-color: #3f4041 !important;
  color: #ffffff;
  .scroll-content {
    background-color: #3f4041 !important;
  }
  .item {
    background-color: $black;
    border: none;
    border-top: 1px solid #464646;
    border-bottom: 2px solid #333333;
    padding: 20px;
    color: #F0F1F1;
    max-height: none;

    &:last-child {
      border-bottom: 1px solid #333333;
    }
    &.current{ background-color:darken( $black, 10% )   !important;
       border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
      p,h3{opacity: .7;}
            }
  }
  h2,
  h3,
  p,
  a{
    color: #F0F1F1;
  }
}
.black-head {
  text-decoration: none;
}
</style>
<dappleth-header styleclass="bar bar-header bar-dark">
<!-- header page  -->
	<button class="button button-clear button-energized" ng-click="openMenu()">
		<i class="icon ion-arrow-swap"></i>
	</button>
</dappleth-header>
<dappleth-content>
<!-- content page  -->
	<ion-side-menus>
		<ion-side-menu-content>
			<ion-content>
				<div class="list">
				  <div class="item item-input-inset">
				    <label class="item-input-wrapper">
				      <input type="text" placeholder="Amount to exchange">
				    </label>
				    <button class="button button-clear">
				      <img ng-src="{{logoToken}}" width="45px" />
				    </button>
				  </div>
				</div>
				<div class="lis card" ng-repeat="t in listTokens track by $index">
					<div class="item item-avatar" >
					    <img src="{{t.Logo}}">
					    <h2>{{t.Name}}</h2>
					    <p>{{t.Symbols}} 13456.00</p>
					 </div>
					 <div class="item item-divider">
					      <a href="#" class="subdued">1 Like</a>
					      <a href="#" class="subdued">5 Comments</a>
					  </div>
				</div>
			</ion-content>
		</ion-side-menu-content>
		
		<ion-side-menu side="right">
			<!-- ... -->
				<ion-list>
					<ion-item class="item item-dark" ng-repeat="r in listRates track by $index" type="item-text-wrap">
					    <label class="balanced"><b>{{r.pair}}</b>
					    	<span class="item-note" "> {{r.rate}} </span>
					    </label>
					    <p>
					      <label class="balanced subdued">{{r.balance}}</label>
					    </p>
				  	</ion-item>
			  	</ion-list>
		</ion-side-menu>
	</ion-side-menus>

</dappleth-content>
<dappleth-footer styleclass="bar bar-footer bar-dark">
<!-- footer page  -->
</dappleth-footer>