<style>
/* custom additional css */
body {
  cursor: url('https://ionicframework.com/img/finger.png'), auto;
}

$black: #3f4041;

.black {
  background-color: #3f4041 !important;
  color: #ffffff;
  .scroll-content {
    background-color: #3f4041 !important;
  }
  .item {
    background-color: $black;
    border: none;
    border-top: 1px solid #464646;
    border-bottom: 2px solid #333333;
    padding: 20px;
    color: #F0F1F1;
    max-height: none;

    &:last-child {
      border-bottom: 1px solid #333333;
    }
    &.current{ background-color:darken( $black, 10% )   !important;
       border-top: 1px solid #464646 !important;
    border-bottom: 2px solid #333333 !important;
      p,h3{opacity: .7;}
            }
  }
  h2,
  h3,
  p,
  a{
    color: #F0F1F1;
  }
}
.black-head {
  text-decoration: none;
}
</style>
<dappleth-header styleclass="bar bar-header bar-dark">
<!-- header page  -->
	<button class="button button-clear button-energized" ng-click="openMenu()">
		<i class="icon ion-arrow-swap"></i>
	</button>
</dappleth-header>
<dappleth-content>
<!-- content page  -->

	<ion-side-menus>

		<ion-side-menu-content>
			<label class="item">
		      Digit the ETH amount to exchange with tokens
		    </label>
			<ion-content>
				<div class="list">
				  <div class="item item-input-inset">
				    <label class="item-input-wrapper">
				      <input type="number" ng-model="amount" placeholder="Amount to exchange">
				    </label>
				    <button class="button button-clear">
				      <img ng-src="{{logoToken}}" width="45px" />
				    </button>
				  </div>
				</div>
				<div class="lis card" ng-repeat="t in availableTokens track by $index">
					<div class="item item-avatar-left item-icon-right" >
					    <img ng-src="{{Dapp.activeApp.Path + t.Logo}}">
					    <h2>{{t.Name + ' ' + t.Symbols}}</h2>
					    <p>{{getPrice(t,amount)}}</p>
					    <button class="button button-clear button-balanced icon ion-ios-shuffle" ng-click="trade(t,amount)"></button>
					 </div>
				</div>
			</ion-content>
		</ion-side-menu-content>
		
		<ion-side-menu side="right">
			<!-- ... -->
				<ion-list>
					<ion-item class="item item-dark" ng-repeat="r in listRates track by $index" type="item-text-wrap">
					    <label class="balanced"><b>{{r.pair}}</b>
					    	<span class="item-note" "> {{r.rate}} </span>
					    </label>
					    <p>
					      <label class="balanced subdued">{{r.balance}}</label>
					    </p>
				  	</ion-item>
			  	</ion-list>
		</ion-side-menu>
	</ion-side-menus>

</dappleth-content>
<dappleth-footer styleclass="bar bar-footer bar-dark">
<!-- footer page  -->
</dappleth-footer>