<style>
/*	
	Dappleth UI could use ionic 1.x css 
	components 
		https://ionicframework.com/docs/v1/components/ 
	icons
		http://ionicons.com/
	Use <style> to add your custom additional css
*/
</style>
<dappleth-header>
<!-- 	Header Page
		An empty header will include a default header.
		
		Attributes: 
		- styleclass
			Use styleclass to set a custom class to header
			i.e.: <dappleth-header styleclass="bar bar-header bar-positive">
				to set a blue (positive) bar
			(see https://ionicframework.com/docs/v1/components/ for more...)

		Footer tags can be removed, mind to add some button to close Dappleth
			i.e.:   <button class="button button-clear" on-touch="close()">
						<i class="icon ion-ios-arrow-back dark"></i>
					</button>
-->
</dappleth-header>
<dappleth-content>
<!-- 	Content Page
		Write your Page using all the components of Ionic 1.x
		visit https://ionicframework.com/docs/v1/components/ for more
		i.e.: 	<div class="list">
				  <a class="item item-icon-left" ng-click="getMails()">
				    <i class="icon ion-email"></i>
				    Check mail
				  </a>
				</div>
	
		You can otherwise write your own html and css in this content page
-->

	<div class="card item-avatar-left">
		<h3>Favor Token</h3>
	</div>

	<ion-list class="list">
		<ion-item class="item item-avatar" ng-repeat="user in favorFriends() | filter:search track by $index">
			<img ng-src="{{user.icon}}"/>
			<h2><b>{{user.name | strLimit: 25 : 0}}</b></h2>

			<ion-option-button class="button-positive" ng-click="openUser(user)">
	          <i class="icon ion-ios-plus"></i>
		    </ion-option-button>
		</ion-item>
	</ion-list>

</dappleth-content>
<dappleth-footer>
<!-- 	Footer Page
		An empty footer will include a default header.
		
		Attributes: 
		- styleclass
			Use styleclass to set a custom class to header
			i.e.: <dappleth-header styleclass="bar bar-header bar-positive">
				to set a blue (positive) bar
			(see https://ionicframework.com/docs/v1/components/ for more...)

		Footer tags can be removed.
-->
</dappleth-footer>