<style>
/*	
	Dappleth UI could use ionic 1.x css 
	components 
		https://ionicframework.com/docs/v1/components/ 
	icons
		http://ionicons.com/
	Use <style> to add your custom additional css
*/
</style>
<dappleth-header></dappleth-header>
<dappleth-content>
<!-- 	Content Page
		Write your Page using all the components of Ionic 1.x
		visit https://ionicframework.com/docs/v1/components/ for more
		i.e.: 	<div class="list">
				  <a class="item item-icon-left" ng-click="getMails()">
				    <i class="icon ion-email"></i>
				    Check mail
				  </a>
				</div>
	
		You can otherwise write your own html and css in this content page
-->
<div class="card">
    <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-information-circled"></i>
        <p>{{getCurrentTip()}}</p>
    </div>
    <div class="item item-divider">
        <button class="button button-small icon-right ion-arrow-right-b" ng-click="nextTip()">Next tip</button>
    </div>
</div>
    <div class="card">
        <div class="item item-text-wrap">
            You have <b>{{getMyFavorBalance()}}</b> Favor Tokens
        </div>

    <div class="button-bar">
        <button class="button icon-left ion-ios-cart" ng-click="openBuyDialog()" style="overflow:visible; padding: 0 10px">Buy tokens</button>
        <button class="button icon-left ion-ios-cog" ng-click="openFavorsDialog()" style="overflow:visible; padding: 0 10px">Manage favors</button>
    </div>
    </div>
	<ion-list class="list">
		<ion-item class="item item-avatar item-icon-right" ng-repeat="user in getFriends() | filter:search track by $index" ng-click="openUserDialog(user)">
			<img ng-src="{{user.icon}}"/>
			<h2><b>{{user.name | strLimit: 25 : 0}}</b></h2>
			<i class="icon ion-chevron-right icon-accessory"></i>
			<ion-option-button class="button-positive icon-left ion-beer" ng-click="openUserDialog(user)">
				See favors
			</ion-option-button>
			<ion-option-button class="button-positive ion-paper-airplane icon-left" ng-click="openSendDialog(user)">
				Send token
			</ion-option-button>
		</ion-item>
	</ion-list>

</dappleth-content>
<dappleth-footer>
</dappleth-footer>