<style>
/*	
	Dappleth UI could use ionic 1.x css 
	components 
		https://ionicframework.com/docs/v1/components/ 
	icons
		http://ionicons.com/
	Use <style> to add your custom additional css
*/
</style>
<dappleth-header styleclass="bar bar-header bar-royal">
	<button class="button button-clear" on-touch="openFavorsDialog()">
	  <i class="icon ion-ios-cog"></i>
	</button>
</dappleth-header>
<dappleth-content>
<!-- 	Content Page
		Write your Page using all the components of Ionic 1.x
		visit https://ionicframework.com/docs/v1/components/ for more
		i.e.: 	<div class="list">
				  <a class="item item-icon-left" ng-click="getMails()">
				    <i class="icon ion-email"></i>
				    Check mail
				  </a>
				</div>
	
		You can otherwise write your own html and css in this content page
-->
	<ion-slide-box auto-play="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
	  <ion-slide>
	    <div class="card">
	    	<div class="item item-text-wrap item-icon-left item-icon-right">
	        	<i class="icon ion-information-circled"></i>
	        	<p>Swipe left over a contact to see options or tap contact to see favors.</p>
	    	</div>

	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="card">
	    	<div class="item item-text-wrap item-icon-left item-icon-right">
	        	<i class="icon ion-information-circled"></i>
	        	<p>When someone does you a favor, send them a Favor Token.</p>
	    	</div>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="card">
	    	<div class="item item-text-wrap item-icon-left item-icon-right">
	        	<i class="icon ion-information-circled"></i>
	        	<p>Manage personal favor names using <i class="ion-ios-cog"></i> up right button </p>
	    	</div>
	    </div>
	  </ion-slide>
	</ion-slide-box>
	<ion-list class="list">
		<ion-item class="item item-avatar item-icon-right" ng-repeat="user in getFriends() | filter:search track by $index" ng-click="openUserDialog(user)">
			<img ng-src="{{user.icon}}"/>
			<h2><b>{{user.name | strLimit: 25 : 0}}</b></h2>
			<i class="icon ion-chevron-right icon-accessory"></i>
			<ion-option-button style="padding-top: 20px;" class="button-positive icon-left" ng-click="openUserDialog(user)">
				<i class="icon ion-beer" style="display: block !important;"></i>
				<span>See favors</span>
			</ion-option-button>
			<ion-option-button style="padding-top: 20px; text-align: center;" class="button-balanced icon-left" ng-click="openSendDialog(user)">
				<i class="icon ion-paper-airplane" style="display: block !important;"></i>
				<span>Send token</span>
			</ion-option-button>
		</ion-item>
	</ion-list>

</dappleth-content>
<dappleth-footer>
	<div class="bar bar-footer bar-royal">
    <a class="button icon-left ion-ios-cart button-clear" ng-click="openBuyDialog()">Buy tokens </a>
    <button class="button button-clear">
      Balance
      <span class="badge badge-stable" style="font-size: 8px">{{getMyFavorBalance()}}</span>
    </button>
  </div>
</dappleth-footer>