<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <button  class="button button-clear" ng-click="closerUserPage()">
            <i class="icon ion-ios-close"></i>
        </button>
        <div class="h1 title">Sample modal</div>
    </ion-header-bar>
    <ion-content class="has-header" padding="'true'">
        <div class="list">

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Title" ng-model="currentContact.addr"/>
                </label>
            </div>

        </div>
    </ion-content>
</ion-modal-view>