<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <button  class="button button-clear" ng-click="closerUserPage()">
            <i class="icon ion-ios-close"></i>
        </button>
        <div class="h1 title">Favors</div>
    </ion-header-bar>
    <ion-content class="has-header" padding="'true'">
        <ion-list class="list">
            <ion-item class="item" ng-repeat="favor in favorNames track by $index">
                <h2>{{favor}}</h2>
                <ion-option-button class="button-positive" ng-click="giveFavor()">
                    Me:&nbsp;&nbsp;<ion-icon class="icon ion-ios-plus"></ion-icon>
                </ion-option-button>
                <ion-option-button class="button-positive" ng-click="receiveFavor()">
                    {{currentContact.name}}:&nbsp;&nbsp;<ion-icon class="icon ion-ios-plus"></ion-icon>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>